<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Books to Keep!</title>
 </head>
 <body>
   <h1>Author: <%= params[:author] %></h1>
  <h2>Title: <%= params[:title] %></h2>
  <h2>Notes: <%= params[:notes] %></h2>
 </body>
</html>