<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
  <title>Favorite Book List</title>
  <h2>Favorite Books to Keep!</h2>
  <br>
  <h3>Enter a New Book Here:</h3>
 </head>

 <body>
  "Welcome, <%=@user.name%>!"

<a href="/logout">Log Out</a>

   <form method="POST" action="/faves">

    <h3>Reader</h3>
      <input type="text" name="person[name]" /><br>
        <input type="text" name="person[favorite_genre]" /><br>
       
        <h3>Favorite Books</h3>
    <p>Author: <input type="text" id="author" name="person[books][][author]"></p>
    <p>Title: <input type="text" id="title" name="[person][][title]"></p>
       <p>Year: <input type="text" id="year" name="[person][][year]"></p>
              <p>Notes: <input type="text" id="notes" name="[person][][notes]"></p>
   <button type="submit" name="submit">submit</button>
  </form>
 </body>

</html>
