<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
  <title>Favorite Book List</title>
  <h2>Books to Keep</h2>
  <br>
  <h2>Enter a New Book Here:</h2>
 </head>

 <body>
   <form method="POST" action="/faves">
    <p>Author: <input type="text" name="author"></p>
    <p>Title: <input type="text" name="title"></p>
    <p>Notes (year, condition, etc.): <input type="text" name="notes"></p>
    <button type="submit" name="submit">submit</button>
  </form>
 </body>

</html>
