<form action='/readers' method="POST">

    <h3>Reader</h3>
      <p>Name:<input id="reader_name" type="text" name="reader[name]" /><br></p>
        <p>Favorite Type of Book:<input id="reader_favorite_genre" type="text" name="reader[favorite_genre]" /><br></p>
       <br>
        <h3>Favorite Books</h3>
    <p>Author: <input id="book_author_1" type="text" name="reader[books][][author]"></p>
    <p>Title: <input id="book_title_1" type="text" name="reader[books][][title]"></p>
       <p>Year: <input id="book_year_1" type="text" name="perader[books][][year]"></p>
              <p>Notes: <input id="book_notes_1" type="text" name="reader[books][][notes]"></p>
  <br>
   <p>Author: <input id="book_author_2" type="text" name="reader[books][][author]"></p>
    <p>Title: <input id="book_title_1" type="text" name="reader[books][][title]"></p>
       <p>Year: <input id="book_year_1" type="text" name="perader[books][][year]"></p>
              <p>Notes: <input id="book_notes_1" type="text" name="reader[books][][notes]"></p>

   <button type="submit" name="submit">submit</button>
  </form>
